<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">

        <title>AngularJS - Hello World</title>
    </head>
    <body>
        <div ng-init="data={name:'Roberta', loggedIn: false, isVisible: true, status: 'red'}">
            <div ng-cloak>

                <div ng-switch on="data.loggedIn">
                    <div ng-switch-when="true" ng-style="{'color': 'red'}"> 
                        <h3>Welcome, {{ data.name }}!</h3> 
                    </div>
                    
                    <div ng-switch-default ng-class="data.status">
                        <h3>Login</h3>
                    </div>
                </div>

                <!--<div ng-hide="isHidden">-->
                <div ng-show="data.isVisible">
                    <label>Name:</label>
                    <input type="text" ng-model="data.name" placeholder="Enter your name here">
                    <br>
                    <!--<h2>Hello {{ name }}!</h2>-->
                    <!--<span ng-bind="name"></span>-->
                </div>
            
                <!--<label> Hide: </label>
                <input type="checkbox" ng-model="isHidden">-->

                <button ng-click="data.name='Carla'">Change name</button>

            </div>
        </div>

        <hr>

        <div ng-init="people=[{name: 'Dave', city: 'São Paulo'}, {name: 'Jess', city: 'Santos'}, {name: 'Harry', city: 'Santo André'}, {name: 'Danny', city: 'New York'}]">

            <h3>Iterating through data with ng-repeat</h3>

            <ul>
                <li ng-repeat="person in people">{{ person.name }}, {{ person.city }}.</li>
            </ul>

            <table>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>City</strong></td>
                </tr>
                <tr ng-repeat="person in people">
                    <td>{{ person.name }}</td>
                    <td>{{ person.city }}</td>
                </tr>
            </table>
            
        </div>
        
        <hr>

        <div ng-init="costumers=[{joined: '2000-12-02', name: 'John', city: 'Chandler', orderTotal: 9.9956}, {joined: '2013-07-16', name: 'Roberta', city: 'Santo André', orderTotal: 133.45}, {joined: '2020-10-20', name: 'Carla', city: 'São Paulo', orderTotal: 900.00}, {joined: '2005-01-15', name: 'Rodrigo', city: 'Praia Grande', orderTotal: 566.50}]">
            <h2>Costumers</h2>
            
            <label>Filter:</label>
            <input type="text">

            <br><br>

            <table>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Order Total</th>
                    <th>Joined</th>
                </tr>
                <tr ng-repeat="cust in costumers | orderBy:'name'">
                    <td>{{ cust.name | uppercase }}</td>
                    <td>{{ cust.city | lowercase }}</td>
                    <td>{{ cust.orderTotal | currency: "R$" }}</td>
                    <td>{{ cust.joined | date: "dd/MM/yyyy" }}</td>
                </tr>
            </table>
            
        </div>

        <script src="angular.js"></script>
    </body>
</html>